.header {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  width: 100%;
  background: #ff7f93;
  position: fixed;
  left: 0px;
  bottom: 0px;
}

.footer__logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.github {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  margin: 3px;
}

.footer__rsslogo {
  width: 100px;
}

.error-wrapper {
  height: 2.2rem;
}

.error-message {
  display: flex;
  justify-content: flex-start;
  color: #ff7f93;
  font-size: 0.8rem;
}

.modal {
  display: block;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(3, 3, 0, 0.8);
}

.none {
  display: none;
}

.modal-content {
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  color: white;
  border-radius: 8px;
  margin: 0 auto;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #ff7f93;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.type-item {
  margin-top: 1rem;
}

.type-name {
  cursor: pointer;
  color: #ff7f93;
}

.schema-closed {
  display: none;
}
