.header {
  display: flex;
  justify-content: space-between;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  width: 100%;
  background: #ff7f93;
  margin-top: 1.5rem;
  flex-shrink: 0;
}

.footer__logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.github {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  margin: 3px;
}

.footer__rsslogo {
  width: 100px;
}

.error-message {
  color: #ff7f93;
  text-align: center;
}

.modal {
  display: block; 
  position: fixed; 
  z-index: 1; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto;
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

.none {
  display: none;
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}