* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
#root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  font-weight: 500;
  color: #ffffff;
  text-decoration: inherit;
}
a:hover {
  color: #bbafb1;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  color: white;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #ff7f93;
  cursor: pointer;
  margin: 5px;
  transition: border-color 0.25s;
}

button:hover {
  background-color: #fac3e3;
}
button:focus,
button:focus-visible {
  background-color: #df7d8b;
}

@media screen and (min-width: 320px) and (max-width: 540px) {
  button {
    font-weight: 300;
    margin: 2px;
    font-size: 12px;
  }
}
