.pages {
  display: flex;
  padding: 10px;
  height: 100%;
}

.description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  &__img {
    width: 50%;
    margin-right: 20px;
  }
  &__title {
    width: 50%;
  }
}

.documentation {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-right: 10px;
  &__button {
    width: 50px;
    cursor: pointer;
    padding: 3px;
    margin-right: 5px;
    &:hover {
      background-color: #b1c0f1;
      border-radius: 8px;
    }
    &:active {
      background-color: #3f5dc2;
      border-radius: 8px;
    }
    &__start {
      position: absolute;
      top: 9px;
      left: 340px;
      width: 45px;
      cursor: pointer;
      &:hover {
        background-color: #b1c0f1;
        border-radius: 8px;
      }
      &:active {
        background-color: #3f5dc2;
        border-radius: 8px;
      }
    }
  }
}

textarea {
  width: 400px;
  height: 240px;
  border: 3px solid #ff7f93;
  border-radius: 8px;
  font-family: Helvetica, Arial;
  font-size: 12px;
  font-weight: 400;
  color: #2bab7c;
  overflow-wrap: break-word;
  white-space: pre;
}

.redactor {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  margin-right: 10px;
  height: 100%;
  position: relative;
}

.received-code {
  width: 50%;
}

#addData {
  flex-grow: 1;
}

.auth {
  flex-grow: 1;
  width: 100%;
}

.auth__form {
  position: absolute;
  padding: 1.25rem;
  border-width: 1px;
  background-color: rgb(255 255 255);
  border-radius: 0.25rem;
  width: 500px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form__title {
  text-align: center;
}

.form {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  padding: 1.25rem;
}

.form__input {
  outline-width: 0px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
  margin-bottom: 0.5rem;
}

@media screen and (min-width: 540px) and (max-width: 730px) {
  .main-page {
    flex-direction: column;
  }

  textarea {
    width: 400px;
    height: 160px;
    border: 3px solid #ff7f93;
    border-radius: 8px;
  }
}

@media screen and (min-width: 320px) and (max-width: 540px) {
  .description {
    &__title {
      font-size: 12px;
    }
  }
  .main-page {
    flex-direction: column;
  }
  textarea {
    width: 250px;
    height: 200px;
  }

  .redactor {
    flex-direction: column;
  }

  .documentation__button__start {
    position: absolute;
    top: 4px;
    left: 216px;
    width: 30px;
  }
}
