.pages {
  display: flex;
  padding: 10px;
  flex: 1;
  padding-bottom: 80px;
}

.welcome-page {
  flex-direction: column;
  align-items: center;
  margin-top: 2em;
  gap: 2em;
}

.welcome-page a {
  color: #ff7f93;
}

.title {
  font-size: 2rem;
}

.description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  &__img {
    width: 20%;
    margin-right: 20px;
  }
  &__title {
    width: 50%;
  }
}

.author {
  display: flex;
  flex: 1;
  text-align: center;
  flex-direction: column;
  gap: 1em;
  background-color: #eaeaea;
  align-items: center;
  padding: 1em 2em;
  border-radius: 1em;
}

.author-description {
  gap: 2em;
  padding: 2em;
  align-items: stretch;
}

.documentation {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-right: 10px;
  &__button {
    width: 50px;
    cursor: pointer;
    padding: 3px;
    margin-right: 5px;
    &:hover {
      background-color: #b1c0f1;
      border-radius: 8px;
    }
    &:active {
      background-color: #3f5dc2;
      border-radius: 8px;
    }
    &__start {
      position: absolute;
      top: 9px;
      right: 9px;
      width: 45px;
      cursor: pointer;
      &:hover {
        background-color: #b1c0f1;
        border-radius: 8px;
      }
      &:active {
        background-color: #3f5dc2;
        border-radius: 8px;
      }
    }
  }
}

textarea {
  width: 100%;
  height: 240px;
  border: 3px solid #ff7f93;
  border-radius: 8px;
  font-family: Helvetica, Arial;
  font-size: 12px;
  font-weight: 400;
  color: #2bab7c;
  overflow-wrap: break-word;
  white-space: pre;
  resize: none;
  padding: 1em;
}

.redactor {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  margin-right: 10px;
  height: 100%;
  position: relative;
  gap: 1em;
}

.received-code {
  width: 50%;
}

#addData {
  flex-grow: 1;
}

.auth {
  flex-grow: 1;
  width: 100%;
}

.auth__form {
  position: absolute;
  padding: 1.25rem;
  border-width: 1px;
  background-color: rgb(255 255 255);
  border-radius: 0.25rem;
  width: 500px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form__title {
  text-align: center;
}

.form {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.form__input {
  outline-width: 0px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
}

.request-part {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1em;
}

.flex-grow {
  flex-grow: 1;
}

.response {
  padding: 1em;
}

@media screen and (min-width: 540px) and (max-width: 730px) {
  .main-page {
    flex-direction: column;
  }

  textarea {
    border: 3px solid #ff7f93;
    border-radius: 8px;
  }

  .request-part {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 320px) and (max-width: 540px) {
  .description {
    &__title {
      font-size: 12px;
    }
  }
  .main-page {
    flex-direction: column;
  }

  .documentation__button__start {
    position: absolute;
    top: 4px;
    right: 4px;
    width: 30px;
  }

  .request-part {
    grid-template-columns: 1fr;
 }
  
  .author-description {
    flex-direction: column;
    font-size: 12px;

  }
}
